
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1492137439402'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1492137439402#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff?t=1492137439402') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf?t=1492137439402') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1492137439402#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: "\e600"; }

.icon-home1:before { content: "\e635"; }

.icon-home:before { content: "\e6a1"; }

.icon-setting1:before { content: "\e601"; }

.icon-setting:before { content: "\e664"; }

.icon-down:before { content: "\e623"; }

.icon-books1:before { content: "\e67f"; }

.icon-leaf:before { content: "\e645"; }

.icon-users1:before { content: "\e65a"; }

.icon-menuunfold:before { content: "\eacc"; }

.icon-menufold:before { content: "\eacd"; }

.icon-books:before { content: "\e605"; }

.icon-users:before { content: "\e883"; }

.icon-books2:before { content: "\e7b9"; }

@font-face {font-family: "font-meun";
  src: url('fonts/left-iconfont.eot?t=1566806328868'); /* IE9 */
  src: url('fonts/left-iconfont.eot?t=1566806328868#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/left-iconfont.woff?t=1566806328868') format('woff'),
  url('fonts/left-iconfont.ttf?t=1566806328868') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('fonts/left-iconfont.svg?t=1566806328868#font_family') format('svg'); /* iOS 4.1- */
}

.font_meun {
  font-family: "font-meun" !important;
  font-style: normal;
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 22px;
}

.icon-neirongguanli:before {
  content: "\e60f";
}

.icon-jiaoxueguanli:before {
  content: "\e606";
}

.icon-shenpiguanli:before {
  content: "\e607";
}

.icon-xuanchuanguanli:before {
  content: "\e608";
}

.icon-lanmuguanli:before {
  content: "\e609";
}

.icon-xitongguanli:before {
  content: "\e60a";
}

.icon-ziyuanguanli:before {
  content: "\e60b";
}

.icon-zhiboguanli:before {
  content: "\e60c";
}

.icon-yunyingguanli:before {
  content: "\e60d";
}

.icon-jiekouguanli:before {
  content: "\e60e";
}